@charset="utf-8";
/*CSS Document*/
.img-content{
	clear:both;
	margin-left:15px;
	padding-top:15px;
}
.img-content div{
	height:400px;
	width:500px;
	background:#EDECEA;
	float:left;
}
.marleft13{
	margin-left:28px;
}
.search-bar{
	margin:15px;
}
.search-bar h4{
	color:#999999;
	float:left;
	line-height:29px;
}
.search-bar button{
	background:#355a86;
	border:none;
	color:white;
	height:27px;
	margin-left:14px;
	width:59px;
}
.search-bar select{
	height:29px;
	margin-left:8px;
	text-align:center;
	width:149px;
}
.search-bar select option{
	line-height:29px;
}